@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{

    background: #FDFDFD;
    font-family: 'Montserrat', sans-serif;
}


.lnr{
    background: linear-gradient(134deg, #FEAF00 0%, #F8D442 100%);
}
